#grid-container {
    display: grid;
    justify-content: start;
}

.grid-cell{
    color: black;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    /* Include border width in total width */
}