#grid-container {
    display: grid;
    justify-content: start;
}
/* grid cell template to reference in scripts*/
.grid-cell{
    color: black;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    background-color: white;
}