#toolbar-container{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; 
    grid-template-areas: 
        "header header header header"
        "build-grid build-grid build-grid build-grid"
        "decrement-col col-block col-block increment-col"
        "decrement-row row-block row-block increment-row"
        "color-pick color-pick color-pick color-pick"
        "choice choice choice choice"
        "draw draw erase erase"
        "fill-rest fill-rest fill-rest fill-rest"
        "fill-all fill-all fill-all fill-all"
        "clear-all clear-all clear-all clear-all-colors";
        width: 80%;
    }

#toolbar-container .item{
    border: 2px solid rgb(255, 255, 255);
    margin: 3px;
    padding: 15px;
    font-size: 25px;
}


#toolbar-title {
    grid-area: header;
    border:none !important;
    border-bottom: 2px solid rgb(255, 255, 255) !important;
    Font-family: 'Silkscreen',
            cursive;
}

#build-title {
    grid-area: build-grid;
    border: none !important;
    font-family: 'Gloria Hallelujah',
            cursive;
}

#decrement-column-btn {
    grid-area: decrement-col;
    color: red;
    transition: box-shadow 0.3s ease;
}

#decrement-column-btn:hover{
    box-shadow: 0 0 10px 5px white;
}

#decrement-column-btn:active{
    color: white !important;
    background-color: red;
    box-shadow: 0 0 10px 5px #ffcc00;
}

#increment-column-btn {
    grid-area: increment-col;
    color: green;
    transition: box-shadow 0.3s ease;
}

#increment-column-btn:hover{
    box-shadow: 0 0 10px 5px white;
}

#increment-column-btn:active{
    color: white !important;
    background-color: green;
    box-shadow: 0 0 10px 5px #ffcc00;
}

#column-icon{
    grid-area: col-block;
    color: black;
    border: none !important;
    transition: box-shadow 0.3s ease;
    text-shadow: 0 0 12px #fff, 0 0 12px white, 0 0 20px white;
}

#row-icon{
    grid-area: row-block;
    color: black;
    border: none !important;
    transition: box-shadow 0.3s ease;
    text-shadow: 0 0 12px #fff, 0 0 12px white, 0 0 20px white;
}

#color-pick{
    grid-area: color-pick;
    border: none !important;
    font-family: 'Gloria Hallelujah',
            cursive;
    padding: 1px !important;
}

#draw-btn{
    grid-area: draw;
    color:black;
}

#draw-btn:active {
    grid-area: draw;
    box-shadow: 0 0 10px 5px #ffcc00 !important;
    background-color: green;
    text-shadow: 0 0 12px #fff, 0 0 12px white, 0 0 20px white;
}

#draw-btn:hover {
    color: white;
    box-shadow: 0 0 10px 5px white;
}

#erase-btn {
    grid-area: erase;
    color: black;
}

#erase-btn:active {
    grid-area: erase;
    box-shadow: 0 0 10px 5px #ffcc00 !important;
    background-color: red;
    /* cursor: url("images/eraser-solid.avif"); */
}

#erase-btn:hover{
    color: white ;
    box-shadow: 0 0 10px 5px white;
}

#decrement-row-btn {
    grid-area: decrement-row;
    width: 40px;
    color: red;
    transition: box-shadow 0.3s ease;
}

#decrement-row-btn:hover {
    box-shadow: 0 0 10px 5px white;
}

#decrement-row-btn:active {
    color: white !important;
    background-color: red;
    box-shadow: 0 0 10px 5px #ffcc00;
}

#increment-row-btn {
    grid-area: increment-row;
    width: 40px;
    color: green;
    transition: box-shadow 0.3s ease;
}

#increment-row-btn:hover {
    box-shadow: 0 0 10px 5px white;
}

#increment-row-btn:active {
    color: white !important;
    background-color: green;
    box-shadow: 0 0 10px 5px #ffcc00;
}

#color-section {
    grid-area: choice;
    border: none !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#color-section #colorPicker {
    width: 100%;
    height: 10vh;
}

#get-color-btn {
    font-family: 'Gloria Hallelujah',
        cursive;
    transition: box-shadow 0.3s ease;
    margin: 10px;
}

#color-section button:hover {
    box-shadow: 0 0 10px 5px white;
}

#color-section button:active {
    background-color: green;
    box-shadow: 0 0 10px 5px #ffcc00;
}

#fill-rest-btn {
    grid-area: fill-rest;
    transition: box-shadow 0.3s ease;
}

#fill-rest-btn img {
    width: 25px;
    height: auto;
    transform: translateY(3px);
}

#fill-rest-btn i {
    width: 6%;
    height: auto;
    margin-right: 20px;
}

#fill-rest-btn:active {
    box-shadow: 0 0 10px 5px #ffcc00 !important;
    background-color: green;
}

#fill-rest-btn:hover {
    color: white;
    box-shadow: 0 0 10px 5px white;
}

#fill-all-btn {
    grid-area: fill-all;
    transition: box-shadow 0.3s ease;
}

#fill-all-btn .fa-circle{
    margin-left: 5px;
}

#fill-all-btn:active {
    box-shadow: 0 0 10px 5px #ffcc00 !important;
    background-color: green;
}

#fill-all-btn .fa-arrow-right{
    margin: 10px;
}

#fill-all-btn:hover {
    color: white;
    box-shadow: 0 0 10px 5px white;
}

#clear-colors-btn {
    grid-area: clear-all-colors;
    border: none !important;
    transition: box-shadow 0.3s ease;
    text-shadow: 0 0 5px #fff, 0 0 8px white, 0 0 20px white;
}

#clear-colors-btn i:hover {
    text-shadow: 0 0 12px #fff, 0 0 12px white, 0 0 20px white;
}

#clear-colors-btn i:active {
    text-shadow: 0 0 12px #ffcc00, 0 0 12px #ffcc00, 0 0 20px #ffcc00;
}

#delete-grid-btn {
    grid-area: clear-all;
}

#delete-grid-btn .fa-trash{
text-shadow: 0 0 5px #fff, 0 0 8px white, 0 0 20px white;
}

#delete-grid-btn:hover {
    box-shadow: 0 0 10px 5px white;
}

#delete-grid-btn:active {
    color: white !important;
    background-color: red;
    box-shadow: 0 0 10px 5px #ffcc00;
}

